# 19-12-2019
## Time Series continue
### Periods and Period Arithmetic
Periods represent timespans, like days, months, quarters, or years. The Period class represents this data type, requiring a string or integer and a frequency .

In [1]:
import pandas as pd

In [13]:
p = pd.Period(2019, freq='M')
p

Period('2019-01', 'M')

In [14]:
p+2

Period('2019-03', 'M')

In [15]:
p-2

Period('2018-11', 'M')

### If two periods have the same frequency, their difference is the number of units between them:

In [17]:
pd.Period(2014,freq = 'M')-p

<-60 * MonthEnds>

### Regular ranges of periods can be constructed with the period_range function:!

In [23]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [26]:
index = pd.date_range('1/1/2000', periods=4, freq='T')
index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00'],
              dtype='datetime64[ns]', freq='T')

In [27]:
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
series

2000-01-01 00:00:00    0.0
2000-01-01 00:01:00    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:03:00    3.0
Freq: T, dtype: float64

In [28]:
df = pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [29]:
#Upsample the series into 30 second bins
df.asfreq(freq='30S')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [30]:
#Upsample again, providing a fill value.
df.asfreq(freq='30S', fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [31]:
p

Period('2019-01', 'M')

### Period Frequency Conversion

In [36]:
p.asfreq('W-wed', how='start')

Period('2018-12-27/2019-01-02', 'W-WED')

In [37]:
p.asfreq('W-wed',how = 'end')

Period('2019-01-31/2019-02-06', 'W-WED')

In [48]:
rng = pd.period_range(start='2006', end='2009',freq='A')
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [40]:
import numpy as np
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.462576
2007    0.022410
2008    0.796228
2009   -1.021730
Freq: A-DEC, dtype: float64

In [49]:
ts.asfreq('M', how='start')

2006-01   -0.462576
2007-01    0.022410
2008-01    0.796228
2009-01   -1.021730
Freq: M, dtype: float64

In [50]:
ts.asfreq('M', how='end')

2006-12   -0.462576
2007-12    0.022410
2008-12    0.796228
2009-12   -1.021730
Freq: M, dtype: float64

### Quarterly Period Frequencies Quarterly data is standard in accounting, finance, and other fields. Much quarterly data is reported relative to a fiscal year end, typically the last calendar or business day of one of the 12 months of the year. Thus, the period 2012Q4 has a different meaning depending on fiscal year end. pandas supports all 12 possible quarterly frequencies as Q-JAN through Q-DEC:

In [60]:
p = pd.Period('2012Q1', freq='M')
p

Period('2012-01', 'M')

### Converting Timestamps to Periods (and Back)

In [67]:
rng = pd.date_range('2000-01-01', periods=3, freq='m')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [68]:
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -1.688963
2000-02-29   -0.235546
2000-03-31   -0.506864
Freq: M, dtype: float64

In [69]:
pts = ts.to_period()
pts

2000-01   -1.688963
2000-02   -0.235546
2000-03   -0.506864
Freq: M, dtype: float64

In [70]:
rng2 = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng2)
ts2

2000-01-29    0.392127
2000-01-30   -0.867616
2000-01-31   -1.131448
2000-02-01   -0.610005
2000-02-02    1.181347
2000-02-03   -0.832237
Freq: D, dtype: float64

In [71]:
ts2.to_period()

2000-01-29    0.392127
2000-01-30   -0.867616
2000-01-31   -1.131448
2000-02-01   -0.610005
2000-02-02    1.181347
2000-02-03   -0.832237
Freq: D, dtype: float64

In [72]:
ts2.to_period('M')

2000-01    0.392127
2000-01   -0.867616
2000-01   -1.131448
2000-02   -0.610005
2000-02    1.181347
2000-02   -0.832237
Freq: M, dtype: float64

In [73]:
pts = ts2.to_period()

In [74]:
pts

2000-01-29    0.392127
2000-01-30   -0.867616
2000-01-31   -1.131448
2000-02-01   -0.610005
2000-02-02    1.181347
2000-02-03   -0.832237
Freq: D, dtype: float64

### To convert back to timestamps, use to_timestamp!

In [75]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.392127
2000-01-30 23:59:59.999999999   -0.867616
2000-01-31 23:59:59.999999999   -1.131448
2000-02-01 23:59:59.999999999   -0.610005
2000-02-02 23:59:59.999999999    1.181347
2000-02-03 23:59:59.999999999   -0.832237
Freq: D, dtype: float64

In [76]:
pts.to_timestamp(how='start')

2000-01-29    0.392127
2000-01-30   -0.867616
2000-01-31   -1.131448
2000-02-01   -0.610005
2000-02-02    1.181347
2000-02-03   -0.832237
Freq: D, dtype: float64

### Resampling and Frequency Conversion
Resampling refers to the process of converting a time series from one frequency to another. 

Aggregating higher frequency data to lower frequency is called downsampling, while converting lower frequency to higher frequency is called upsampling.

In [83]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [82]:
# Downsample the series into 3 minute bins
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [80]:
#Upsample the series into 30 second bins.
series.resample('30S').asfreq()

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    NaN
2000-01-01 00:03:00    3.0
2000-01-01 00:03:30    NaN
2000-01-01 00:04:00    4.0
2000-01-01 00:04:30    NaN
2000-01-01 00:05:00    5.0
2000-01-01 00:05:30    NaN
2000-01-01 00:06:00    6.0
2000-01-01 00:06:30    NaN
2000-01-01 00:07:00    7.0
2000-01-01 00:07:30    NaN
2000-01-01 00:08:00    8.0
Freq: 30S, dtype: float64

In [81]:
#Upsample the series into 30 second bins and 
#fill the NaN values using the pad method
series.resample('30S').pad()

2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
2000-01-01 00:02:30    2
2000-01-01 00:03:00    3
2000-01-01 00:03:30    3
2000-01-01 00:04:00    4
2000-01-01 00:04:30    4
2000-01-01 00:05:00    5
2000-01-01 00:05:30    5
2000-01-01 00:06:00    6
2000-01-01 00:06:30    6
2000-01-01 00:07:00    7
2000-01-01 00:07:30    7
2000-01-01 00:08:00    8
Freq: 30S, dtype: int64

In [87]:
bin(2).count('1')

1

In [9]:
while True:
    try :
        in_ = int(input())
        print(bin(in_).count('1'))
    except:
        break

0
0
1
1
2
1
5
2
12
2
1424
4
22
3

In [11]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
1
3
go
4
g1
vinod
5
stop
out: 13

In [ ]:
while input() != 'Stop':
    s += int(x)
print(s)

1

In [3]:
s = 0
while True:
    x = input()
    if x == 'stop':
        break
    if x.isdigit():
        s += int(x)
print(s)

1
2
3
f
d
f
5
stop
11

In [7]:
s = 0
while True:
    x = input()
    try :
        x = int(x)
        s += x
    except:
        if x == "stop":
            print(s)
            break

1
s
3
4
f
stop
8