# 19-12-2019
## Time Series cotinue
### Periods and Period Arithmetic
Periods represent timespans, like days, months, quarters, or years. The Period class represents this data type, requiring a string or integer and a frequency .

In [1]:
import pandas as pd

In [19]:
p = pd.Period(2019, freq='A-JUN')
p

Period('2019', 'A-JUN')

In [20]:
p+2

Period('2021', 'A-JUN')

In [21]:
p-2

Period('2017', 'A-JUN')

### If two periods have the same frequency, their difference is the number of units between them:

In [34]:
pd.Period(2014,freq = 'A-JUN')-p

<-5 * YearEnds: month=6>

### Regular ranges of periods can be constructed with the period_range function:!

In [9]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [10]:
index = pd.date_range('1/1/2000', periods=4, freq='T')
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
df = pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [12]:
#Upsample the series into 30 second bins
df.asfreq(freq='30S')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [13]:
#Upsample again, providing a fill value.
df.asfreq(freq='30S', fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [22]:
p

Period('2019', 'A-JUN')

### Period Frequency Conversion

# ??

In [30]:
p.asfreq('M', how='start')

Period('2018-07', 'M')

In [27]:
p.asfreq('D',how = 'end')

Period('2019-06-30', 'D')