# Pandas
## 11-12-2019

### Create a Data Series with Numpy array

### Create a Data Series with Dictionary

### Create a Data Frame  with Dictionary  and Numpy array

### Get values, index

### Accesing Series data using indexing

### Using NumPy functions :    using masking, mathematics

### isnull, pd.notnull

### count of missing values

### DataFrame

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

### df.head(), df.sample()

### Reindexing :

### adding a column in existing dataFrame

### Count non-NA cells for each column or row

### Selection with loc and iloc

For DataFrame label-indexing on the rows,  the special **indexing operators loc and iloc  enable you to select a subset of the rows and columns from a DataFrame** .The difference between them is loc gets rows (or columns) with particular labels from the index,iloc gets rows (or columns)at particular positions in the index(though it takes only integers)

In [ ]:
data=pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'],  
                                                        columns=['one', 'two', 'three', 'four'])

In [ ]:
data.loc['Colorado',['one']]

In [ ]:
data.iloc[0]

### Arithmetic and Data Alignment 
An important pandas feature for some applications is the behavior of arithmetic between objects with different indexes. When you are adding together objects, if any index pairs are not the same, the respective index in the result will be the union of the index pairs. For users with database experience, this is similar to an automatic outer join on the index labels.

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                   columns=list('bcd'),        
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                  columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

###  Arithmetic methods with fill values
    using: df.add(fill_value = )

### fillna

### deleting 
Ex: ds.drop(['d','c'])

### is Identity operator

Ex: obj2.index is index