# Time Series
Time Series is a Series of data points indexed (or listed or graphed) in time order. Therefore the data, is organized by relatively deterministic timestamps, and may be compared to random sample data.

Time series data is an important form of structured data in many different fields, such as finance, economics, ecology, neuroscience, and physics. Anything that is observed or measured at many points in time forms a time series.

Time series analysis comprises methods for analyzing time series data in order to extract meaningful statistics and other characteristics of the data. Time series forecasting is the use of a model to predict future values based on previously observed values.

While regression analysis is often employed in such a way as to test theories that the current values of one or more independent time series affect the current value of another time series.


**How you mark and refer to time series data depends on the application, and you may have one of the following:**
- Predicting Stock price or predicting the weather conditions for tomorrow,time-series has significant role to play.

- Forecasting the birth rate at all hospitals in a city each year.
* Forecasting product sales in units sold each day for a store.
* Forecasting the number of passengers through a train station each day.

In [2]:
from datetime import datetime

### Collect present details

In [3]:
a =datetime.now()
a

datetime.datetime(2019, 12, 18, 10, 13, 6, 655456)

In [4]:
a.year

2019

In [5]:
a.month

12

In [6]:
#local date and time

now = datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day, now.month, now.year))
print('Time now :{}:{}:{}'.format(now.hour,now.minute, now.second))

2019-12-18 10:13:09.833915
Date now :18-12-2019
Time now :10:13:9

### Datetime stores both the date and time down to the microsecond. timedelta represents the temporal difference between two datetime objects:

In [7]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
delta.seconds

56700

In [9]:
delta.total_seconds()

80063100.0

In [10]:
# using timedelta
from datetime import *
datetime(2011,12,26) + timedelta(365)

datetime.datetime(2012, 12, 25, 0, 0)

### Converting Between String and Datetime

In [11]:
value = '11 Dec 2019'
datetime.strptime(value, '%d %b %Y')

datetime.datetime(2019, 12, 11, 0, 0)

###  Datetime format specification (ISO C89 compatible)
- %Y - 4-digit year
- %y - 2-digit year
- %m - 2-digit month [01, 12]
- %d - 2-digit day [01, 31]
- %H - Hour (24-hour clock) [00, 23]
- %I - Hour (12-hour clock) [01, 12]
- %M - 2-digit minute [00, 59]
- %S - Second [00, 61] (seconds 60, 61 account for leap seconds)
- %w - Weekday as integer [0 (Sunday), 6]
- %U - Week number of the year [00, 53]. Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0”.
- %W - Week number of the year [00, 53]. Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”.
- %z - UTC time zone offset as +HHMM or -HHMM, empty if time zone naive
- %F - Shortcut for %Y-%m-%d, for example 2012-4-18
- %D - Shortcut for %m/%d/%y, for example 04/18/12


##  Locale-specific date formatting
- %a -  Abbreviated weekday name
- %A -  Full weekday name
- %b -  Abbreviated month name
- %B -  Full month name
- %c -  Full date and time, for example ‘Tue 01 May 2012 04:20:57 PM’
- %p -  Locale equivalent of AM or PM
- %x -  Locale-appropriate formatted date; e.g. in US May 1, 2012 yields ’05/01/2012’
- %X -  Locale-appropriate time, e.g. ’04:24:12 PM’

In [12]:
datestrs = ['11 December 2019', '26 December 1993']
[datetime.strptime(x, ??) for x in datestrs]

SyntaxError: invalid syntax (<ipython-input-12-9c317a84ec2f>, line 2)

In [13]:
a= date.today()
a

datetime.date(2019, 12, 18)

In [14]:
a.strftime('%d, %b, %y')

'18, Dec, 19'

### A timestamp is a sequence of characters or encoded information identifying when a certain event occurred, usually giving date and time of day, sometimes accurate to a small fraction of a second.

In [21]:
now = datetime.now()
print(now)
timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

2019-12-18 10:13:36.384536
timestamp = 1576644216.384536

In [24]:
import pandas as pd
import numpy as np
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -1.118242
2000-01-02    0.410663
2000-01-03   -1.642955
2000-01-04   -0.519376
2000-01-05    0.557613
2000-01-06    0.435158
2000-01-07   -0.541813
2000-01-08    1.916182
2000-01-09   -0.345773
2000-01-10    0.074887
2000-01-11    0.646875
2000-01-12   -1.096882
2000-01-13    0.072899
2000-01-14   -1.135809
2000-01-15   -1.393490
2000-01-16   -0.189544
2000-01-17   -0.498928
2000-01-18    0.590682
2000-01-19   -0.877933
2000-01-20    1.808947
2000-01-21   -0.260760
2000-01-22    0.564391
2000-01-23    0.602143
2000-01-24   -0.663339
2000-01-25   -0.360383
2000-01-26    0.112230
2000-01-27   -0.830975
2000-01-28    0.579038
2000-01-29   -0.595608
2000-01-30   -0.332961
                ...
2002-08-28    0.633742
2002-08-29   -0.800753
2002-08-30   -0.399548
2002-08-31   -0.308724
2002-09-01   -2.555190
2002-09-02    0.533662
2002-09-03   -0.963176
2002-09-04   -0.595226
2002-09-05   -0.221919
2002-09-06    0.354225
2002-09-07   -0.175217
2002-09-08    0.217181
2002-09-09   -0.588923
2002-09-10   -1.429983
2002-09-11   -0.057855
2002-09-12    1.171594
2002-09-13    0.766275
2002-09-14    0.727018
2002-09-15    1.675882
2002-09-16    0.316533
2002-09-17   -0.799230
2002-09-18   -1.189607
2002-09-19   -0.640516
2002-09-20    1.233452
2002-09-21   -0.134280
2002-09-22   -1.299338
2002-09-23    0.798754
2002-09-24    0.937794
2002-09-25   -0.246117
2002-09-26    0.611709
Freq: D, Length: 1000, dtype: float64

In [25]:
longer_ts['2001']

2001-01-01    1.353583
2001-01-02    1.923661
2001-01-03    0.868495
2001-01-04   -1.667144
2001-01-05    0.792851
2001-01-06   -1.632216
2001-01-07    0.259555
2001-01-08    0.281526
2001-01-09    0.443559
2001-01-10    1.103426
2001-01-11    1.784181
2001-01-12   -0.723310
2001-01-13    0.056845
2001-01-14    0.834121
2001-01-15    1.552537
2001-01-16   -0.496808
2001-01-17    1.169164
2001-01-18   -1.143599
2001-01-19   -1.027363
2001-01-20   -0.434815
2001-01-21   -0.492782
2001-01-22    2.193833
2001-01-23   -1.918962
2001-01-24   -0.458754
2001-01-25    0.247345
2001-01-26   -1.694531
2001-01-27   -0.576474
2001-01-28    1.126233
2001-01-29   -0.737949
2001-01-30   -0.153621
                ...
2001-12-02   -0.255961
2001-12-03   -0.359148
2001-12-04   -0.442581
2001-12-05    0.685437
2001-12-06   -0.099773
2001-12-07    1.812124
2001-12-08    0.681855
2001-12-09    1.429921
2001-12-10    0.151150
2001-12-11   -1.500778
2001-12-12   -1.560255
2001-12-13    0.773306
2001-12-14   -0.124863
2001-12-15   -2.355283
2001-12-16    0.520945
2001-12-17   -0.338181
2001-12-18   -1.504735
2001-12-19   -0.197567
2001-12-20   -1.675854
2001-12-21    0.573150
2001-12-22   -0.393758
2001-12-23   -0.664732
2001-12-24   -0.130586
2001-12-25    0.755361
2001-12-26    0.630029
2001-12-27    0.594659
2001-12-28    0.675764
2001-12-29    0.753263
2001-12-30    0.740192
2001-12-31   -0.622533
Freq: D, Length: 365, dtype: float64

In [26]:
longer_ts['2001-05']

2001-05-01    1.459842
2001-05-02    2.173111
2001-05-03   -1.393846
2001-05-04   -0.112064
2001-05-05    1.375881
2001-05-06   -2.396105
2001-05-07    0.795145
2001-05-08   -0.878359
2001-05-09    2.177837
2001-05-10   -0.788169
2001-05-11    0.617141
2001-05-12    0.923820
2001-05-13   -0.618347
2001-05-14    0.537194
2001-05-15    1.276566
2001-05-16   -0.853704
2001-05-17    2.414262
2001-05-18    1.338042
2001-05-19   -0.098758
2001-05-20    0.087756
2001-05-21   -1.207602
2001-05-22   -0.250508
2001-05-23    1.780747
2001-05-24   -1.369315
2001-05-25   -0.468888
2001-05-26   -0.598980
2001-05-27   -1.167851
2001-05-28   -1.166517
2001-05-29    1.063617
2001-05-30    1.247258
2001-05-31   -0.683637
Freq: D, dtype: float64

In [27]:
ts[datetime(2011, 1, 7):]

NameError: name 'ts' is not defined